
* {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 60.25em) {
    html {
      font-size: 58%;
    }
  }
  
  
  @media (max-width: 27.75em) {
    html {
      font-size: 55%;
    }
  }
  
  body {
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: white;
  }
  
  h1 {
    font-size: 6rem;
      font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  
  h2 {
    font-size: 4.2rem;
      font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkred;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 8;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: darkred;
  }
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: darkblue;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 5rem 2rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: grey;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  .code {
    color: darkred;
  }
  
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project:hover .code {
    color: red;
  }
  
  .project-title {
    font-size: 2.5rem;
    padding: 2rem 0.6rem;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .footer-section {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: darkgrey;
    border-top: 4px solid darkred;
  }
  
  .footer-section > p {
    margin: 1rem;
  }
  
  @media (max-width: 28em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  